<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Details</title>
</head>
<body>
	<h1>Employee Details</h1>
	
	<form th:action="@{/editEmployee}" method="post" th:object="${editedEmployee}">
		Id: <span th:text="*{id}" /> <br/>
		<input type="hidden" th:field="*{id}" />
		Name: <input th:field="*{name}"/> <br/>
		Position: <input th:field="*{position}" /> <br/>
		Salary: <input th:field="*{salary}" /> <br/>
		<input type="submit" value="Submit" />
	</form>
	
</body>
</html>