<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
	<h1>Employee Attributes</h1>
	
	<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
		Name: <input th:field="*{name}" value="BBBB"/> <br/>
		Position: <input th:field="*{position}" /> <br/>
		Salary: <input th:field="*{salary}" /> <br/>
		<input type="submit" value="Submit" />
	</form>
	
</body>
</html>