<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Human Resources Application</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
	<h1>List of Employees</h1>
	
	<table style="width: 30%">
	<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Position</th>
    <th>Salary</th>
    <th>Start Of Employment</th>
    <th>Delete Employee</th>
    </tr>
	<tr th:each="employee: ${employees}" >
    	<td th:text="${employee.id}">id</td>
    	<!--  <td th:text="${employee.name}" >name</td>-->
    	<td><a th:text="${employee.name}" th:href="@{/employee(id=${employee.id})}">name</a></td>
    	<td th:text="${employee.position}">position</td>
    	<td th:text="${employee.salary}">salary</td>
    	<td th:text="${employee.startOfEmployment}">startOfEmployment</td>
    	<td><a th:href="@{/deleteEmployee(id=${employee.id})}">Delete Me!</a>
	</tr>
	</table>
	<br/>
	<h2>Add New Employee</h2>
	<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
		Id: <input th:field="*{id}" /> <br/>
		Name: <input th:field="*{name}" /> <br/>
		Position: <input th:field="*{position}" /> <br/>
		Salary: <input th:field="*{salary}" /> <br/>
		<input type="submit" value="Submit" />
	</form>
	
</body>
</html>